node_modules/
target/
_out/
gen/
dist/
app/*/dist/
app/*/.appGenInfo.json
app/*/.ui5/

.cdsrc-private.json
default-*.json
*.sqlite

# Editor settings
.vscode/

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
